!/**
!/open_control
!/LICENSE.txt
/open_control/__pycache__
*.pyc
/open_control/.DS_Store
ClyphX/UserSettings.txt
ClyphX/PushEmuHandler.py
ClyphX/Push_APC_Combiner.py
ClyphX/MacrobatUserConfig.py
ClyphX/MacrobatSidechainRack.py
ClyphX/MacrobatRnRRack.py
ClyphX/MacrobatPushRack.py
ClyphX/MacrobatParameterRackTemplate9.py
ClyphX/MacrobatParameterRackTemplate8.py
ClyphX/MacrobatParameterRacks9.py
ClyphX/MacrobatParameterRacks.py
ClyphX/MacrobatMidiRack.py
ClyphX/Macrobat.py
ClyphX/InstantMappingMakeDoc.py
ClyphX/ExtraPrefs.py
ClyphX/CSLinker.py
ClyphX/consts.py
ClyphX/ClyphXUserActions.py
ClyphX/ClyphXTriggers.py
ClyphX/ClyphXTrackActions.py
ClyphX/ClyphXSnapActions9.py
ClyphX/ClyphXSnapActions.py
ClyphX/ClyphXPXTActions.py
ClyphX/ClyphXPushActions.py
ClyphX/ClyphXMXTActions.py
ClyphX/ClyphXM4LBrowserInterface.py
ClyphX/ClyphXGlobalActions.py
ClyphX/ClyphXDRActions9.py
ClyphX/ClyphXDeviceActions.py
ClyphX/ClyphXControlSurfaceActions9.py
ClyphX/ClyphXControlSurfaceActions.py
ClyphX/ClyphXClipEnvCapture.py
ClyphX/ClyphXClipActions.py
ClyphX/ClyphXArsenalActions.py
ClyphX/ClyphX.py
ClyphX/ActionList.py
ClyphX/__init__.py
Phonochose.zip
Phonochose/__init__.py
Phonochose/colors.py
Phonochose/Looper.py
Phonochose/LooperTrack.py
Phonochose/Phonochose.py
Phonochose/reglages.py
.DS_Store
